fastapi==0.115.0
uvicorn[standard]==0.30.6
pydantic==2.8.2
pydantic-settings==2.4.0
starlette>=0.37.2
typing-extensions>=4.8.0

# DB & migrations
SQLAlchemy==2.0.44
alembic==1.17.0

# Auth & forms
passlib[argon2]==1.7.4
pyjwt==2.10.1
python-multipart==0.0.9
